.top-slider {
   background: linear-gradient(100.25deg, #172025 0.32%, rgba(23, 32, 37, 0.95) 100.2%);
   &__inner {
      height: auto;
      padding-top: 50px;
   }
}
.main-slider {
   width: 1398px;
   padding-bottom: 128px !important;
   .swiper-slide {
      width: 1218px;
      height: 451px;
      margin: auto 0;
      filter: brightness(0.75);
   }
   .swiper-slide-active {
      width: 1218px;
      height: 451px;
      filter: brightness(1);
   }
   .swiper-button-prev,
   .swiper-button-next {
      top: 40% !important;
   }
   .swiper-button-prev {
      left: 28px !important;
   }
   .swiper-pagination {
      bottom: 95px !important;
   }
}

.main-slide {
   &__text {
      position: absolute;
      top: 103px;
      left: 118px;
      max-width: 520px;
   }

   &__title {
      font-family: $font-family--alt;
      font-weight: 700;
      font-size: 36px;
      line-height: 53px;
      color: #ffffff;
      margin-bottom: 32px;
      position: relative;
      &::before {
         content: "";
         position: absolute;
         left: 0;
         bottom: -10px;
         width: 83px;
         height: 2px;
         background-color: $hover-color;
      }
   }

   &__subtitle {
      font-size: 16px;
      line-height: 20px;
      color: #ffffff;
      margin-bottom: 40px;
   }

   &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 229px;
      height: 50px;
      background-color: $hover-color;
      color: #fff;
      svg {
         fill: #fff;
         margin-right: 10px;
      }
   }
}

.info-row {
   margin-top: -40px;
   margin-bottom: 70px;
   &__inner {
      width: 100%;
      max-width: 982px;
      padding: 17px 60px;
      box-shadow: 0px 10px 20px rgba(33, 53, 90, 0.1);
      background-color: #ffffff;
      margin: 0 auto;
   }

   &__list {
      width: 100%;
      display: flex;
   }

   &__item {
      width: auto;
      display: flex;
      align-items: center;
      position: relative;
      svg {
         margin-right: 25px;
         flex-grow: 0;
      }
      span {
         font-weight: 600;
         line-height: 19px;
         width: 100%;
         max-width: 93px;
      }
      &:not(:last-child) {
         margin-right: auto;
         &::before {
            content: "";
            height: 52px;
            position: absolute;
            right: -20%;
            border-right: 1px solid rgba(64, 64, 66, 0.2);
         }
      }
   }
}

.category {
   margin-bottom: 103px;
   &__inner {
      display: flex;
      justify-content: space-between;
   }
}

.cart {
   width: 100%;
   max-width: 386px;
   background: #ffffff;
   box-shadow: 0px 5px 20px rgba(33, 53, 90, 0.1);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   &.news {
      height: 474px;
   }
   &__image {
      width: 100%;
      max-width: 386px;
      img {
         object-fit: cover;
      }
   }

   &__title {
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      text-transform: uppercase;
      position: relative;
      margin: 20px 30px;
      &::before {
         content: "";
         width: 4px;
         height: 100%;
         display: block;
         position: absolute;
         left: -10px;
         background-color: $hover-color;
      }
   }

   &__list {
      margin: 0 25px 25px 44px;
      display: flex;
      flex-direction: column;
   }

   &__item {
      line-height: 18px;
      color: rgba(64, 64, 66, 0.7);
      position: relative;
      &:not(:last-child) {
         margin-bottom: 10px;
      }
      &::before {
         content: "";
         width: 6px;
         height: 6px;
         background-color: rgba(64, 64, 66, 0.7);
         display: block;
         position: absolute;
         left: -15px;
         top: 50%;
         transform: translateY(-50%);
      }
   }

   &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 14px 0;
      background-color: #f5f6fa;
      text-transform: uppercase;
      line-height: 18px;
      svg {
         margin-left: 10px;
      }
      &:hover {
         background-color: $hover-color;
         color: #ffffff;
         svg {
            fill: #ffffff;
         }
      }
   }
   &__text {
      font-size: 14px;
      line-height: 22px;
      color: rgba(64, 64, 66, 0.7);
      margin-bottom: 10px;
      padding-left: 30px;
   }
   &__date {
      padding-left: 30px;
      font-size: 12px;
      line-height: 15px;
      color: rgba(64, 64, 66, 0.5);
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      svg {
         margin-right: 7px;
         flex-shrink: 0;
      }
   }
}

///////////Media
@media (min-width: 1024px) and (max-width: 1405px) {
   .cart {
      max-width: 315px;
   }
   .top-slider {
      &__inner {
         height: auto;
         padding-top: 0;
      }
   }
   .main-slider {
      width: 100%;
      padding-bottom: 106px !important;
      .swiper-slide {
         width: 100%;
         height: 451px;
         margin: auto 0;
         filter: brightness(0.75);
      }
      .swiper-slide-active {
         width: 100%;
         height: 451px;
         filter: brightness(1);
      }
      .swiper-button-prev,
      .swiper-button-next {
         display: none !important;
      }
      .swiper-pagination {
         bottom: 75px !important;
      }
   }

   .main-slide {
      &__img {
         object-fit: cover;
      }

      &__text {
         position: absolute;
         top: 95px;
         left: 20px;
         max-width: 520px;
      }

      &__subtitle {
         margin-bottom: 40px;
      }
   }
}

@media (min-width: 768px) and (max-width: 1023px) {
   .category {
      margin-bottom: 70px;
   }
   .info-row {
      &__item {
         flex-direction: column;
         text-align: center;
         svg {
            margin: 0;
            margin-bottom: 15px;
         }
         &:not(:last-child) {
            &::before {
               right: -60%;
               top: 25%;
            }
         }
      }
   }
   .cart {
      max-width: 229px;
      &__image {
         height: 179px;
         margin-bottom: 20px;
      }
      &__title {
         font-size: 12px;
         line-height: 15px;
      }
      &__list {
         margin-left: 29px;
         margin-right: 5px;
      }
   }
   .top-slider {
      &__inner {
         height: auto;
         padding-top: 0;
      }
   }
   .main-slider {
      width: 100%;
      padding-bottom: 106px !important;
      .swiper-slide {
         width: 100%;
         height: 451px;
         margin: auto 0;
         filter: brightness(0.75);
      }
      .swiper-slide-active {
         width: 100%;
         height: 451px;
         filter: brightness(1);
      }
      .swiper-button-prev,
      .swiper-button-next {
         display: none !important;
      }
      .swiper-pagination {
         bottom: 75px !important;
      }
   }

   .main-slide {
      &__img {
         object-fit: cover;
      }

      &__text {
         position: absolute;
         top: 95px;
         left: 20px;
         max-width: 520px;
      }

      &__subtitle {
         margin-bottom: 40px;
      }
   }
}

@media (min-width: 577px) and (max-width: 767px) {
   .category {
      margin-bottom: 60px;
   }
   .info-row {
      &__item {
         flex-direction: column;
         text-align: center;
         svg {
            margin: 0;
            margin-bottom: 15px;
         }
         &:not(:last-child) {
            &::before {
               right: -35%;
               top: 25%;
            }
         }
      }
   }
   .category {
      &__inner {
         display: flex;
         justify-content: space-between;
         flex-direction: column;
         align-items: center;
      }
      .cart {
         &:not(:last-child) {
            margin-bottom: 20px;
         }
      }
   }
   .top-slider {
      &__inner {
         height: auto;
         padding-top: 0;
      }
   }
   .main-slider {
      width: 100%;
      padding-bottom: 55px !important;
      .swiper-slide {
         width: 100%;
         height: 428px;
         margin: auto 0;
         filter: brightness(0.75);
      }
      .swiper-slide-active {
         width: 100%;
         height: 428px;
         filter: brightness(1);
      }
      .swiper-button-prev,
      .swiper-button-next {
         display: none !important;
      }
      .swiper-pagination {
         bottom: 35px !important;
      }
   }

   .main-slide {
      &__img {
         object-fit: cover;
      }

      &__text {
         position: absolute;
         top: 59px;
         left: 16px;
         max-width: 288px;
         display: flex;
         flex-direction: column;
         align-items: center;
         text-align: center;
      }

      &__title {
         font-size: 22px;
         line-height: 32px;
         &::before {
            content: "";
            left: 50%;
            transform: translateX(-50%);
            bottom: -15px;
         }
      }

      &__subtitle {
         margin-bottom: 40px;
         font-size: 16px;
         line-height: 20px;
      }
   }
}

@media (min-width: 320px) and (max-width: 576px) {
   .category {
      margin-bottom: 60px;
   }
   .info-row {
      margin-top: 0;
      margin-bottom: 60px;
      &__inner {
         padding: 20px;
         box-shadow: none;
      }
      .info-row__list {
         flex-wrap: wrap;
         justify-content: space-between;
      }
      &__item {
         flex-direction: column;
         text-align: center;
         svg {
            margin: 0;
            margin-bottom: 15px;
         }
         &:not(:last-child) {
            &::before {
               display: none;
            }
            margin: 0;
         }
         &:first-child {
            margin-bottom: 40px;
         }
         &:nth-child(odd) {
            &::before {
               display: block;
               right: -30%;
               top: 25%;
            }
         }
      }
   }
   .category {
      &__inner {
         display: flex;
         justify-content: space-between;
         flex-direction: column;
         align-items: center;
      }
      .cart {
         &:not(:last-child) {
            margin-bottom: 20px;
         }
      }
   }
   .cart {
      &.news {
         height: 414px;
      }
      &__title {
         font-size: 12px;
         line-height: 16px;
         margin: 15px 30px;
         margin-left: 25px;
      }
      &__text {
         padding: 0 15px;
      }
      &__date {
         padding-left: 15px;
      }
   }
   .top-slider {
      &__inner {
         height: auto;
         padding-top: 0;
      }
   }
   .main-slider {
      width: 100%;
      padding-bottom: 55px !important;
      .swiper-slide {
         width: 100%;
         height: 428px;
         margin: auto 0;
         filter: brightness(0.75);
      }
      .swiper-slide-active {
         width: 100%;
         height: 428px;
         filter: brightness(1);
      }
      .swiper-button-prev,
      .swiper-button-next {
         display: none !important;
      }
      .swiper-pagination {
         bottom: 35px !important;
      }
   }

   .main-slide {
      &__img {
         object-fit: cover;
      }

      &__text {
         position: absolute;
         top: 59px;
         left: 16px;
         max-width: 288px;
         display: flex;
         flex-direction: column;
         align-items: center;
         text-align: center;
      }

      &__title {
         font-size: 22px;
         line-height: 32px;
         &::before {
            content: "";
            left: 50%;
            transform: translateX(-50%);
            bottom: -15px;
         }
      }

      &__subtitle {
         margin-bottom: 40px;
         font-size: 16px;
         line-height: 20px;
      }
   }
}
